<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Confirm email</title>
    </head>
    <body
        style="
            font-family: Arial;
            margin-top: 4rem;
            background-color: #f5f5f5;
            text-align: center;
        "
    >
        <main
            style="
                background-color: white;
                padding: 1.5rem;
                border: 1px solid #aaaaaa;
                width: 25rem;
                display: inline-block;
                margin: 0 auto;
                text-align: left;
            "
        >
            <h1 style="margin-bottom: 2rem; font-size: 1.6rem; color: #003f92">
                Hello, {{ username }}.
            </h1>

            <p>
                You received this email because password reset was requested on
                our website.
            </p>

            <p style="color: rgb(70, 70, 70)">
                <b> To continue, click on the following link: </b>
            </p>

            <div style="text-align: center">
                <button
                    style="
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                        padding: 0.5rem 2rem;

                        background-color: #348eda;
                        border: 1px solid #003f92;
                    "
                >
                    <a
                        style="
                            text-decoration: none;
                            color: white;
                            letter-spacing: 0.04rem;
                        "
                        href="{{ url }}"
                        >Reset password</a
                    >
                </button>
            </div>

            <p>Regards,</p>
            <p style="color: #003f92"><b>{{ host }} Team.</b></p>
        </main>
    </body>
</html>
